{% extends 'home/base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
<div>
<h3>E-85 BATCH FUND</h3>

<h4>COMMENCEMENT:</h4>
<p>
    This FUND shall be under the custody of the 10 member committee selected among the batch mates.
</p>

<h4>
    OBJECTIVE OF THE BATCH FUND:
</h4>
<p>
    To promote thrift and to provide for the Members on illnesses a sum decided by the COMMITTEE OF MANAGEMENT on case by case as a benevolent serving.
</p>

<h4>
    POWERS AND DUTIES OF THE COMMITTEE OF MANAGEMENT:
</h4>
<ul>
    The COMMITTEE may incur such expenses as are necessary for the management and administration of the Fund.
    The duties of the committee shall be:-    

<li>To advise the trustee in regard to the investment of the monies lying to the credit of the FUND;</li>
<li>To direct the SECRETARY of the FUND in regard to the manner in which the database of the FUND shall be maintained</li>
<li>
    To secure that there shall be a separate account for each member of the FUND in the database, which shall indicate the actual amount of money lying to the credit of the member
</li>
<li>
    Generally to manage and administer the affairs of the FUND and to make all decisions which may arise in relation to the affairs of the FUND.
</li>
</ul>

<h4>
    MEETINGS OF COMMITTEE OF MANAGEMENT:
</h4>
<p>
    The CHAIRMAN shall preside at all meetings and in his absence the a person elected by the members present. <br>
    Every question that arises for consideration shall be decided by the vote of the majority of those present at the meeting. <br>
    If the votes are equally divided the CHAIRMAN shall have a-casting vote, in addition to his vote as a committee member.<br>
    The first meeting of the COMMITTEE OF MANAGEMENT shall be summoned by the SECRETARY on the direction of the CHAIRMAN. <br>
    Thereafter the COMMITTEE shall meet as often as shall be necessary for the efficient management, control and to take quick decisions.    
</p>

<h4>QUORUM:</h4>
<p>
    The QUORUM for a COMMITTEE MEETING shall be six and online meetings are accepted. 
    A Meeting of the COMMITTEE at which quorum is present shall be competent to exercise all or any of the authorities, powers and discretions by these presents vested in the COMMITTEE.    
</p>

<h4>
    MINUTES AND RECORDS:
</h4>
<p>
    The COMMITTEE shall cause the SECRETARY to keep proper minutes of all their resolutions and proceedings. 
    The SECRETARY shall keep and maintain the database and shall maintain Bank Accounts in accordance with the directions of the COMMITTEE.
    Any such Current, Savings or Deposit Account (Local or Foreign Currency) shall be operated by –
    Three members appointed by the COMMITTEE
    MEMBERSHIP AND MEMBERSHIP DATABASE:
    Every living member of E-85 BATCH OF ENGINEERING FACULTY, UNIVERSITY OF PERADENIYA are members of this BATCH FUND.
    No member may resign from or cease Membership of the FUND. For any personal issue they should contact the CHIRMAN of the FUND.    
</p>

<h4>MEMBERS CONTRIBUTION:</h4>
<p>
    Every MEMBER shall contribute 2000 LKR/7USD to the FUND within first 15 days of each month.<br>
    MEMBERS are allowed to deposit annual MEMBERSHIP fee  at once a year as 24000 LKR/100USD.<br>
    MEMBERS are allowed to give voluntary contributions of any amount in addition to the MEMEBERSHIP fee for the betterment of the FUND.<br>
    THE FUND shall come to maturity after three financial years.<br>
    The Financial year of the FUND shall be the year ended 30th of September.    
</p>

<h4>INVESTMENT POWERS:</h4>
<p>
    The COMMITTEE OF MANAGEMENT is empowered to invest funds of The BATCH FUND on Fixed Deposits in the any National or commercial bank within Sri Lanka.<br>
    NON ENTITLEMENT OF MEMBERS: Except members, no members and no person claiming through or under a Member in respect of his interest in the FUND shall be not entitled to claim the payment of any money.   
</p>

<h4>ANNUAL STATEMENT TO MEMBERS:</h4>
<p>
    As soon as practicable after 30th of September each year, each member shall be provided with a Statement of the balance outstanding to his credit in the FUND, Interest received and accrued and any other income, Any other item of expenditure deem necessary. 
    INDEMINITY:<br>
    The COMMITTEE shall be indemnified out of the said FUND against all liabilities incurred by them in or about the execution of the trusts hereof. Should any contingency arise which is not herein provided for, the COMMITTEE shall have an absolute and uncalled discretion and power to deal with such contingencies.    
</p>
</div>
</div>
</div>
</div>
</div>
{% include 'home/footer.html' %}
{% endblock %}