{% extends 'home/base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 col-lg-8">
            <h2 class="login-heading mb-4">Contribution  for {{contribution.project.name}}</h2>
            <p> {{error}}</p>
            <p>
                <a class="btn btn-primary btn-sm" href="{% url 'batchfund:contributorUpd' contribution.id %}">Click to edit</a>
            </p>
        </div>
    </div>
</div>
{% include 'home/footer.html' %}
{% endblock %}