<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>{% block title %}E85 - Peradeniya {% endblock %}</title>
    {% load static %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet"/>
    <style>
        .bg-red{ background:#82063B;}
        .navbar-toggler[aria-expanded="true"]{background:grey!important;color:white!important;}
        .nav-link{color:white!important;}
    </style>
</head>
<body>

<div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-red">
        <div class="navbar-brand">
            <a href="/"><img src="{% static 'images/e85pera_logo2.jpg' %}" alt="e85 Logo" width="100"></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
     
              <li class="nav-item">
                <div class="dropdown dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Batch</a>                    
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href={% url 'batchfund:constitution' %}>Constitution</a></li>
                        <!-- <li><a class="dropdown-item" href={% url 'batchfund:contributorAdd' 1%}>Contribute</a></li> -->
                        {% if user.is_authenticated %}
                        <hr>
                        <li><a class="dropdown-item disabled" href=# style="color:#ba0015">Member Only</a></li>
                        <li><a class="dropdown-item" href={% url 'accounts:minuteList' 1 %}>Meeting Minutes</a></li>
                        <li><a class="dropdown-item" href={% url 'batchfund:report' 1 %}>Report</a></li>       
                        <hr>
                        <li><a class="dropdown-item disabled" href=# style="color:#ba0015">Committee Only</a></li>
                        <li><a class="dropdown-item" href={% url 'accounts:transactionList' 1%}>Transactions</a></li>
                        <li><a class="dropdown-item" href={% url 'batchfund:contributorList' 1%}>Contributors</a></li>
                        {% endif %}                      
                    </ul>
                </div>
              </li>
              <li class="nav-item">
                <div class="dropdown dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                      Paddy
                    </a>                    
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href={% url 'paddyprj:information' %}>Information</a></li>
                      <li><a class="dropdown-item" href={% url 'paddyprj:status' %}>Updates</a></li>
                      <!-- <li><a class="dropdown-item" href={% url 'paddyprj:investorAdd' 2 %}>Invest</a></li> -->
                      {% if user.is_authenticated %}
                      <hr>
                      <li><a class="dropdown-item disabled" href=# style="color:#ba0015">Investor Only</a></li>
                      <li><a class="dropdown-item" href={% url 'accounts:minuteList' 2 %}>Meeting Minutes</a></li>
                      <li><a class="dropdown-item" href={% url 'accounts:financialReport' 2 %}>Financial Report</a></li>
                      <hr>
                      <li><a class="dropdown-item disabled" href=# style="color:#ba0015">Committee Only</a></li>
                      <li><a class="dropdown-item" href={% url 'paddyprj:prjStatusList' 2 %}>Update Status</a></li>
                      <li><a class="dropdown-item" href={% url 'accounts:transactionList' 2 %}>Transactions</a></li>
                      <li><a class="dropdown-item" href={% url 'paddyprj:investorList' 2 %}>Investors</a></li>
                      </li>
                      {% endif %}
                  </ul>
                  </div>
              </li>
              <li class="nav-item">
                <div class="dropdown">    
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Other</a> 
                    <ul class="dropdown-menu"> 
                        <li><a class="dropdown-item" href={% url 'accounts:otherprjList' %}>Report</a></li>
                    </ul>    
                </div>                   
              </li> 
              <li class="nav-item">
                <div class="dropdown">                        
                    {% if user.is_authenticated %}
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">{{user.first_name}} {{user.last_name}}</a> 
                        <ul class="dropdown-menu"> 
                        <li><a class="dropdown-item" href={% url 'accounts:logoff' %}>Log Off</a></li>
                        <li><a class="dropdown-item" href={% url 'accounts:member' %}>Profile</a></li>
                        {% if user.is_staff %}
                        <hr>
                        <li><a class="dropdown-item" href={% url 'accounts:projectList' %}>Projects</a></li>
                        {% endif %}
                        </ul>
                    {% else %}    
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">LogIn</a> 
                        <ul class="dropdown-menu"> 
                        <li><a class="dropdown-item" href={% url 'accounts:login' %}>Log In</a></li>
                    </ul>
                        {% endif %}
                </div>
            </li>
            </ul>
        </div>
    </nav>
    <div id="wrapper">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>
