{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">

    <div class="card">
        <div class="card-header">People</div>
        <div class="card-body">
          <h5 class="card-title">Who are we:</h5>
          <p class="card-text">Sri Lankan Engineers from University of Peradeniya batch of 1985<br>
            Living in and around the world.
          </p>
        </div>
      </div>
      <br><br>
      <div class="card">
        <div class="card-header">Mission</div>
        <div class="card-body">
          <h5 class="card-title">Collective Support :</h5>
          <p class="card-text">
          We are reaching retirement age and started to get health issues.<br> 
          At the time of emergency we like to support each other financially.<br>
          A batch Fund that is being built to help medical emergencies of the batch mates.
          </p>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">Vision</div>
        <div class="card-body">
          <h5 class="card-title">Pay it back by Invest and Improve</h5>
          <p class="card-text">
            We are exploring ways to see how Sri Lankan Engineers, <br>
            who benefitted from a free education system to become what they are today, <br>
            can contribute to the betterment of the country by engaging in Agriculture sector. <br>
            Our aim is to venture into other projects in the future as a group.
        </p>
        </div>
      </div>
     <br>
</div>
{% include 'home/footer.html' %}
{% endblock %}