{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">

    <div class="card">
        <div class="card-header"><strong>People</strong></div>
        <div class="card-body text-left">
          <h5 class="card-title">Who are we:</h5>
          <p class="card-text">Owing to the free education system in Sri Lanka, brought together in 1985 to the Faculty of Engineering, <br>
            University of Peradeniya, from various part of the country,<br>
            <strong>E 85 Pera group</strong> is a conglomeration of Engineers. Having obtained a basic degree in Engineering in various disciplines <br>
            many of them are now renowned academics, business magnates, high officials in both public and private sector and much sought and highly respected specialists. <br>
            Further, they are spread all over the world making the group a truly global collection of individuals.<br><br>
            Having embarked on their lives journey over three decades ago they were able to maintain an unwavering and <br> 
            undiminished sense of friendship and care for each other. On various occasions they have voluntarily and wholeheartedly come forward <br>
            to help their fellow batch mates in times of distress and need, transcending all man made barriers such as race, religion, language, social stature etc,. 
          </p>
        </div>
      </div>
      <br><br>
      <div class="card">
        <div class="card-header"><strong>Mission</strong></div>
        <div class="card-body">
          <h5 class="card-title">Collective Vision</h5>
          <p class="card-text">
            Continue with the camaraderie built during the university days and work as a team in sharing financial <br>
            and intellectual resources in helping each other and the society at large through collective projects.   
          </p>
        </div>
      </div>
      <br>
</div>
{% include 'home/footer.html' %}
{% endblock %}