{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row text-left justify-content-left">
    <div class="card-header justify-center">
        <h5>{{prj.project.name}}</h5>
        <p>{{prj.title}}
        <i>{{prj.updatedOn}} : Comments ({{ prj.comments }}) Likes:({{prj.likes}})</i>
    </div>
    <div class="card-body text-left justify-content-left">
        {% for comment in comment_list %}
        <div class="alert alert-warning justify-content-left">
            <strong>{{comment.updatedOn}} {{comment.updatedBy.first_name}} :</strong> {{comment.body|linebreaks}}
        </div>
        {% endfor %}
    </div>
    <div class="card-footer justify-content-center">
        {% if user.is_authenticated %}
        <h4>Leave a comment</h4>
        <form method="post" style="margin-top: 1.3em;">
                {{ form.body | as_crispy_field}}
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary  btn-lg">Add a Comment</button>
        </form>
        {% endif %}    
    </div>
    </div>
</div>
{% include 'home/footer.html' %}
{% endblock content %}