{% extends 'home/base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
                <h4 class="login-heading mb-4">Paddy Project - Maha Season 2022</h4>
<p>
At the outset Prabhat explained to the group, our main object is to lessen the financial burden of paddy farmers and provide them with means of getting out the visious and unending cycle of 'borrowing and repayment' by which they are pushed deep and deep into indebtness.
<br>
As we like treat this first attempt as a pilot project 100% of the farmers'  financial requirements will not be provided at this stage.
<br><br>
<strong>The two main reasons being,</strong>
1. Our intention is not to disturb the existing pricesesees/mechanisms outright
2. We would try to introduce a weaning process to take the farmers out of the above mentioned cycle with kater involvement depending on the outcome of this pilot project 
As such we will contribute financially for  field preparation and procurement of seed paddy. And for this we expect a share of the harvest equivalent to the amount contributed calculated with prevailing price of paddy at the time of harvest. 
<br>
At this point with the concurrence of the farmers present, the Agrarian Officer suggested to aim for cultivation of seed paddy. He pointed out unlike rice paddy, the price of which, is manipulated by large scale private buyers to keep as low as possible at the time of harvesting the price of seed paddy remains relatively high and fixed. The reason for the high price is the high demand on supply and required quality.
<br>
At present the price of seed paddy is around Rs 250/kg.
<br>
In seed paddy cultivation the method is, in this season to cultivate the type of paddy required for the subsequent season.
Hence in our target of coming 'Maha' season, seed paddy required for the subsequent  'Yala' season need to be cultivated. Since 'Yala' is the lesser duration season of the two seasons, varieties of seed paddy suitable for short term duration needs  to be cultivated in the oncoming 'Maha' season, in which our involvement is to begin.
<br>
Based on above detailed matters it was decided to cultivate seed paddy in the oncoming Maha season  in the 10 acres land belonging to the four farmers who participated in the discussions.

Prabhath's brother and the Agrarian Officer will manage the process.
<br><br>
<strong>Cost estimate for contributions are as follows.</strong>
<ul>
    <il>
        Field preparation using machinery -
        Rs35 000/ acre x 10 acres
         = Rs 350,000        
    </il>
    <li>
        Seed Paddy - 
        Rs250/kg x  80kg/acre x 10 acres
        = Rs 200,000
        
    </li>    
    <li>
        Total cost (1) + (2)
        = Rs 550,000
        With above  total,      
    </li>
    <li>
        cost per share for a contributor 
        = Rs 550,000 / 50
        Rs 11,000
        Cost per Share = Rs 11,000
    </li>
</ul>

<ul>
   <li>We hope to collect the required  total contribution of Rs 550,000 by 15th October 2022 the latest .</li>
   <li>One may contribute for more than one share</li>
   <li>Account details will be shared by Lawrance</li>
</ul>
</p>
</div>
</div>
</div>
</div>
{% include 'home/footer.html' %}
{% endblock %}