{% extends 'home/base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row text-center justify-content-center">
            <div class="card mt-2 mb-2">
            <div class="card-header">
                <div class="row">
                   <p >Review Projects and Update, Delete OR 
                    <br>
                    <div>
                    <a href="{% url 'accounts:projectAdd'%}" class="btn btn-secondary btn-md">Add New Project</a>
                    </div>
                   </p>

                </div>
            </div>

            <div class="card-body">
                {% for project in project_list %}
                <div class="row">
                    <div class="col-md-9 col-lg-9" align="left">
                        <div class="alert alert-danger text-left justify-content-left">
                            <p>
                                <strong>
                                    Name :{{project.name}}  Status:{{project.status}} Start Date:{{project.startDate}}
                                </strong>
                            </p>
                        </div>
                        <div class="alert alert-info text-left justify-content-left">
                        Objective : {{project.purpose}}
                        </div>
                        <div class="alert alert-info text-left justify-content-left">
                            Rs. {{project.targetFund}} 
                            </div>
                         </div>
                    <div class="col-md-3 col-lg-3" align="right">
                        <a href="{% url 'accounts:committeeList' project.id %}" class="btn btn-secondary btn-md">Manage Commmittee</a><br><br>
                        <a href="{% url 'accounts:bankAccountList' project.id %}" class="btn btn-secondary btn-md">Update Bank Accounts</a><br><br>
                        <a href="{% url 'accounts:projectUpd' project.id %}" class="btn btn-secondary btn-md">Update Project</a><br><br>
                        <a href="{% url 'accounts:projectDel' project.id %}" class="btn btn-secondary btn-md">Delete Project</a>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
 </div>

{% include 'home/footer.html' %}
{% endblock content %}